body {
  color: #383543;
  background-color: #D6AA7B;
  font-family: 'Roboto', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h3{
  text-align: center;
}

/*Creatr my top nav bar */
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #D6AA7B;
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
  margin: 0;
  padding: 0;
  border: 0;
}

/* Align items to left or right on navbar as required */
#navbarleft {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#navbarcenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

#navbarright {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* Style for navbar links */
.topnav a {
  float: left;
  color: #D6AA7B;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  /* font-family: 'Roboto', sans-serif; */
}

/*Style for navbar links when hovered*/
.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #D6AA7B;
  color: #333;
}

/* Create a class for the main content on each page */
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Create a style for the footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  transition: 1s;
  font-family: 'Roboto', sans-serif;
  color: #D6AA7B;
  align-items: center;
  box-sizing: border-box;
}

/* Style the footer links */
footer a {
  font-size: 30px;
  color: #D6AA7B;
  margin: 2px;
  padding: 5px;
}

/* Change individual icon colors when hovered */
footer a:hover .fa-linkedin {
  color: #0073B0;
} 

footer a:hover .fa-github-square {
  color: white;
}

footer a:hover .fa-twitter-square {
  color: #1DA1F2;
}

footer a:hover .fa-medium {
  color: #03A87C;
}

/*Make icons bigger on hover */
footer a:hover {
  transform: scale(1.618);
  margin: 0;
  box-sizing: border-box;
}

/* Align text in footer to the left */
#footerleft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 20px;
  margin-left: 10px;
}

/* Align icons in footer to the right */
#footerright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 8px;
}