head {

}
body {
  color: #383543;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Create the topnav class and apply general styling */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #D6AA7B;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #D6AA7B;
  color: #333;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: D6AA7B;
  color: #333;
  text-align: right;
}