body {
  color: #383543;
  background-color: #D6AA7B;
  font-family: 'Roboto', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}

h3{
  text-align: center;
}

/*Creatr my top nav bar */
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333;
  overflow: hidden;
  margin: 0
  padding: 0
  border: 0
}

/* Align items to left or right on navbar as required */
#navbarleft {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#navbarright {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* Style for navbar links */
.topnav a {
  float: left;
  color: #D6AA7B;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  /* font-family: 'Roboto', sans-serif; */
}

/*Style for navbar links when hovered*/
.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #D6AA7B;
  color: #333;
}


/* Creat a style for the footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  transition: 1s;
}

footer .copyright {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

/* Style the footer links */
footer a {
  color: #D6AA7B
  font-size: 20px;
  padding: 5px;
  color: #D6AA7B;
  font-family: 'Roboto', sans-serif;
}

/* Change individual icon colors */
footer a:hover .fa-linkedin {
  color: #0073B0;
} 

footer a:hover .fa-github-square {
  color: white;
}

footer a:hover .fa-twitter-square {
  color: #1DA1F2;
}

footer a:hover .fa-medium {
  color: #03A87C;
}

/*Make icons bigger on hover */
footer a:hover {
  transform: scale(2);
}

#footerleft {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#footerright {
  display: flex;
  flex-direction: row;
  justify-content: end;
}