body {
  color: #383543;
  background-color: #D6AA7B;
  font-family: 'Roboto', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}

/* Create my top nav bar */
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #D6AA7B;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%
}

/* Align items to left or right on navbar as required */
#navbarleft {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#navbarright {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* Style for navbar links */
.topnav a {
  float: left;
  color: #D6AA7B;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  /* font-family: 'Roboto', sans-serif; */
}

/*Style for navbar links when hovered*/
.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #D6AA7B;
  color: #333;
}

section {
  height: 100%;
  overflow-x: hidden;
}

/* Create a class for the main content on each page */
.content {
  display: grid;
  grid-template-columns: 2% 664px 2%;
  grid-template-rows: 3% 50px 30px auto 50px 100px;
}

/* Content heading subtype */
.content .heading {
  grid-column-start: 2;
  grid-row-start: 2;  
  font-size: 50px;
}

.content .subheading {
  font-size: 30px;
  grid-column-start: 2;
  grid-row-start: 3;
}

/* Main content subtype */
.content .main {
  font-size: 20px;
  grid-column-start: 2;
  grid-row-start: 4;
}

/* Special styling for the social media links in about.html */
/* #about-socials {
  grid-row-start: 5;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 664px;
  padding: 0;
  margin: 0;
} */

#about-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Set up transition time when hovering on social icons on about page */
#about-socials img {
  transition-duration: 0.5s;
}

/* Set up hover effect on social icons on about page */
#about-socials img:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px #333;
}

/* Create a style for the footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  transition: 1s;
  font-family: 'Roboto', sans-serif;
  color: #D6AA7B;
  align-items: center;
  box-sizing: border-box;
}

/* Style the footer links */
footer a {
  font-size: 30px;
  color: #D6AA7B;
  margin: 2px;
  padding: 5px;
}

/* Change individual icon colors when hovered */
footer a:hover .fa-linkedin {
  color: #0073B0;
} 

footer a:hover .fa-github-square {
  color: white;
}

footer a:hover .fa-twitter-square {
  color: #1DA1F2;
}

footer a:hover .fa-medium {
  color: #03A87C;
}

/*Make icons bigger on hover */
footer a:hover {
  transform: scale(1.618);
  margin: 0;
  box-sizing: border-box;
}

/* Align text in footer to the left */
#footerleft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 20px;
  margin-left: 10px;
}

/* Align icons in footer to the right */
#footerright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 8px;
}

/* Apply special hover styling to my name in the footer */
  #name:hover {

  }

/* Fix for socials on about page on mobile devices: */
@media screen and (max-width: 700px) {
  .content {
    display: grid;
    grid-template-columns: 2% auto 2%;
    grid-template-rows: 3% 50px 30px auto 50px 100px;
  }

  .content .heading {
    font-size: 30px
  }

  .content .main {
    font-size: 10px;
  }

  #about-socials {
    display: flex;
    justify-content: space-between;
  }

  #about-socials img {
    flex-shrink: 1;
  }
}

/* Wrap navbar and footer on mobile */
 @media screen and (max-width: 400px) {

  #navbarleft {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
  } 

  #footerleft {
    margin-left: 2px;
  } 

}

/* Wrap footer icons on mobile */
@media screen and (max-width: 300px) {
  #footerright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

/* Fix display error on very small screens */
@media screen and (max-width: 200px) {

  .topnav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
 }

 #navbarleft {
   display: flex;
   flex-direction: column;
   justify-content: start;
   flex-wrap: wrap;
 }
 #navbarright {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
 }
}