/* Set basic styling for the body of the page */
body {
  color: #383543;
  background-color: #fefefe;
  font-family: 'Roboto', sans-serif;
  border: 0;
  margin: 0;
  padding: 0;
}

/* Make images adjust to page size */
img {
  max-width: 95%;
}

/* Create my top nav bar */
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fefefe;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%
}

/* Align items to left or right on navbar as required */
#navbarleft {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#navbarright {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

/* Style for navbar links */
.topnav a {
  float: left;
  color: #fefefe;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  /* font-family: 'Roboto', sans-serif; */
  transition-duration: 0.3s;
}

/*Style for navbar links when hovered*/
.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #fefefe;
  color: #333;
}

section {
  overflow-x: hidden;
}

/* Create a class for the main content on each page */
.content {
  display: grid;
  grid-template-columns: 2% 665px 2%;
  grid-template-rows: 50px 100px auto 100px;
}

/* Content heading subtype */
.content .heading {
  grid-column-start: 2;
  grid-row-start: 2;  
  font-size: 45px;
}

/* Main content subtype */
.content .main {
  font-size: 18px;
  grid-column-start: 2;
  grid-row-start: 3;
}

/* Change styling for hyperlinks in content */
.content .main a {
  color: #333;
}

.content .main .filesize {
  font-size: 12px;
}

/* Special styling for the landing page */
#index-content {
  display: grid;
  grid-template-columns: 1fr 19fr;
  grid-template-rows: 1fr 2fr 1fr;
  height: 100%;
}

#index-content #index-heading {
  font-size: 80px;
  grid-column-start: 2;
  grid-row-start: 2;
  transition-duration: 1s;
}

#index-content #index-heading:hover {
  letter-spacing: 3pt;
  transform: translateY(8px);
}

#index-content #index-main {
  font-size: 45px;
  grid-column-start: 2;
  grid-row-start: 4;
  transition-duration: 1s;
}

#index-content #index-main:hover {
  letter-spacing: 1pt;
  transform: translateY(-5px);
}

#about-socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Set up transition time when hovering on social icons on about page */
#about-socials img {
  transition-duration: 0.5s;
}

/* Set up hover effect on social icons on about page */
#about-socials img:hover {
  transform: scale(1.1);
  box-shadow: 2px 2px 2px 2px #333;
}

/* Create a style for the footer */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;  
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  transition: 1s;
  font-family: 'Roboto', sans-serif;
  color: #fefefe;
  align-items: center;
  box-sizing: border-box;
}


/* Align text in footer to the left */
#footerleft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 20px;
  margin-left: 10px;
  /* transition-duration: 1s; */
}

#footerleft a {
  font-size: 20px;
  /* text-decoration: none; */
  color: #fefefe;
  margin-left: 5px;
}
/* 
#footerleft:hover {
  letter-spacing: 2pt;
} */

/* Align icons in footer to the right */
#footerright {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 8px;
}


/* Style the #footerright links */
#footerright a {
  font-size: 30px;
  color: #fefefe;
  margin: 2px;
  padding: 5px;
  transition-duration: 200ms;
}

/*Make icons bigger on hover */
#footerright a:hover {
  transform: scale(1.618);
  margin: 0;
  box-sizing: border-box;
}

/* Change individual icon colors when hovered */
#footerright a:hover .fa-linkedin {
  color: #0073B0;
} 

#footerright a:hover .fa-github-square {
  color: white;
}

#footerright a:hover .fa-twitter-square {
  color: #1DA1F2;
}

#footerright a:hover .fa-medium {
  color: #03A87C;
}
  
/* Fix for socials on about page on mobile devices: */
@media screen and (max-width: 700px) {
  .content {
    display: grid;
    grid-template-columns: 2% auto 2%;
    grid-template-rows: 33px 70px auto 66px;
  }

  .content .heading {
    font-size: 30px
  }

  .content .main {
    font-size: 12px;
  }

  .content .main .filesize {
    font-size: 6px
  }

  #about-socials {
    display: flex;
    justify-content: space-between;
  }

}

/* Styles main page text to fit correctly on smaller devices */
@media screen and (max-width: 500px) {
  
  #index-content #index-heading {
    font-size: 50px;
  }

  #index-content #index-main {
    font-size: 30px;
  }
}

/* Wrap navbar and footer on mobile */
 @media screen and (max-width: 400px) {

  #navbarleft {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-wrap: wrap;
  } 

  #footerleft {
    margin-left: 2px;
  } 

}

/* Wrap footer icons on mobile */
@media screen and (max-width: 300px) {
  #index-content #index-heading {
    font-size: 30px;
  }
  
  #index-content #index-main {
    font-size: 20px;
  }
 
  #footerright {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
  }
}

/* Fix display error on very small screens */
@media screen and (max-width: 200px) {

  .topnav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
 }

 .content .main {
   display: grid;
   grid-template-rows: 50px 120px auto 300px;
 }

 #navbarleft {
   display: flex;
   flex-direction: column;
   justify-content: start;
   flex-wrap: wrap;
 }
 
 #navbarright {
  display: flex;
  flex-direction: column;
  justify-content: start;
  flex-wrap: wrap;
 }

}